Source: maple-nthumath
Section: unknown
Priority: extra
Maintainer: Shenk Wang <shenk@shenk.twbbs.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: maple-nthumath
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
